.footer {
  margin-top: 10%;
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
  
  .links {
    display: flex !important;
    justify-content: space-around;
    width: 80px;
  }

  .copyright {
    text-align: center;
    width: 100%;
  }  

}
