.postForm {
  .hashBtn {
    font-size: 10px !important;
    margin-top: 10px !important;
  }
  .btnEvent {
    font-size: 10px;
    background-color: #1f2937;
  }
  .text-red-500 {
    font-size: 11px;
  }
}
